---
import Starfield from "~/components/starfield.astro";
import { navItems } from "~/components/header.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="gradient-text pr-1 text-center font-extrabold tracking-tighter text-8xl"
      >
        Powerful
        <br /> web & mobile
        <br /> solutions.
      </div>
    </h2>

    <ul class="flex flex-col text-white">
      {
        navItems.map(({ title, url }) => (
          <li>
            <a class="block py-4 text-center text-xl" href={url}>
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <noscript>
    <style>
      #splash-bg-fallback {
        display: block;
      }
    </style>
  </noscript>

  <style>
    @keyframes float {
      0% {
        transform: translate3d(0, 0, 0);
      }

      100% {
        transform: translate3d(0, 30px, 0);
      }
    }

    #astronaut {
      animation: float linear 2.5s infinite alternate;
    }

    @media (prefers-reduced-motion: reduce) {
      #astronaut {
        @apply animate-none;
      }

      :global(#starfield) {
        @apply hidden;
      }

      #splash-bg-fallback {
        @apply block;
      }
    }
  </style>
</section>
